# Auto detect text files and perform LF normalization
* text=auto
data/result7_default_19p6GeV.root filter=lfs diff=lfs merge=lfs -text
data/sys_tag_2 filter=lfs diff=lfs merge=lfs -text
data/result1_17p3GeV.root filter=lfs diff=lfs merge=lfs -text
data/result3_7p7GeV.root filter=lfs diff=lfs merge=lfs -text
data/result4_9p2GeV.root filter=lfs diff=lfs merge=lfs -text
data/sys_tag_1 filter=lfs diff=lfs merge=lfs -text
data/v1_piKp filter=lfs diff=lfs merge=lfs -text
data/result2_11p5GeV.root filter=lfs diff=lfs merge=lfs -text
data/result2_14p6GeV.root filter=lfs diff=lfs merge=lfs -text
data/result9_27GeV.root filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
